h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

.form_change_password {
    width: 45%;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 249, 250);
    padding: 20px;
}
