.form_pyrobots_login {
  width: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 249, 250, 0.801);
  padding: 20px;
  text-align: left;
}
.form-element {
  display: block;
  width: 40%;
  margin: 1rem auto;
  align-items: center;
}
