.form_pyrobots_login {
  width: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 249, 250);
  padding: 20px;
}
.form-element {
  display: block;
  width: 40%;
  margin: 1rem auto;
  align-items: center;
}

.modal-body {
  color: red;
}