.Box-main-post {
    display: flex;
    background-color: rgba(197, 208, 233, 0.4);
    color: rgb(15, 14, 14);
    border: 4px solid #050505;
    position: center;
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0px;
    background: #e0e0e0;
    box-shadow: inset -25px -25px 49px #afafaf,
    inset 25px 25px 49px #ffffff;
    display: block;
}

.title {
    font-size: 40px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 8px;
    margin-bottom: 100px;
}