.Box-main {
  display: block;
  background-color: rgba(197, 208, 233, 0.4);
  color: rgb(15, 14, 14);
  border: 4px solid #050505;
  position: center;
  height: 650px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0px;
  background: #e0e0e0;
  box-shadow: inset -25px -25px 49px #afafaf,
  inset 25px 25px 49px #ffffff;
}

.app-header {
  background-color: #282c34;
}

.title {
  font-size: 50px;
  font-weight: bold !important;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-top: 100px;
}

.image-group{
  margin: 0;
}

#titulo{
  font: 600 4em "Oswald", sans-serif;
  letter-spacing: 350;
  display: block;
  margin: 0 auto;
  text-shadow: 1 0 80px rgba(255, 255, 255, .5);
  /* Clip Background Image */
  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-text-stroke: 2px rgb(102, 102, 102); /* width and color */

}

/* Animate Background Image */
@keyframes aitf {
  0% {
      background-position: 0% 50%;
  }

  100% {
      background-position: 100% 50%;
  }
}
