body {
    font: 400 1em/1.5 "Neuton";
    background: #090d00;
    color: rgb(252, 252, 252);
    text-align: center;
    margin: 0;
}

p {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    display: inline-block;
    border: 4px double rgba(250, 248, 248, 0.25);
    border-width:6px 0;
    padding: 2.5em 0em;
    position: absolute;
    top: 18%;
    left: 50%;
    width: 40em;
    margin: 0 0 0 -20em;
}

p span {
    font: 600 4em "Oswald", sans-serif;
    letter-spacing: 350;
    padding: 0.25em 0 0.325em;
    display: block;
    margin: 0 auto;
    text-shadow: 1 0 80px rgba(255, 255, 255, .5);
    /* Clip Background Image */
    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}