h2 {
  text-align:center;
}

.form{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 
label {
  width: 40%;
  text-align: center;
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.form-element {
  display: block;
  width: 40%;
  margin: 1rem auto;
  align-items: center;
}


