.Rows-List {
  font-size: 17px;
  font-family: 'Josefin Sans', sans-serif;
  border-bottom: 1px solid rgb(161, 149, 149);
  color: #262922;
}
/* .Rows-List:nth-child(even) {
  background-color: #e7e8d0;
}

.Rows-List:nth-child(odd) {
  background-color: #d1ccc1;
} */

.Rows-List:hover {
  background-color: #c9e0eb;
  color: #1b1f2b;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  margin-left: auto;
    margin-right: auto;
}

.table::-webkit-scrollbar {
  display: none;
}

#key-list {
  margin: 0 auto;
  font-size: 1em;
  margin-bottom: 15px;
}

.takensign {
  margin-right: 20px;
  font-size: 12px;
  color: red;
  font-family: 'Josefin Sans', sans-serif;
}

.partidas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-main);
  padding: 10px;
}

